* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body 
{
    background-color: #d9dcd6;
}

.header 
{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 
{
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header nav 
{
    /*div changed to nav to correlate correctly with html */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


.header nav ul 
{
    /*div changed to nav to correlate correctly with html */
    list-style-type: none;
    text-transform: uppercase;
}

.header nav ul li 
{
    /*div changed to nav to correlate correctly with html */
    display: inline-block;
    margin-left: 25px;
}

.header nav ul li a 
{
    /*div changed to nav to correlate correctly with html */
    /* added styling to links */
    display: inline-block;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px #545353;
}

.bold 
{
    /* added bold letters to bold class in html */
    /* altered color of yellow */
    font-weight: bolder;
    color: #c5c3b2;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a 
{
    color: #ffffff;
    text-decoration: none;
}

p 
{
    font-size: 16px;
}

.hero 
{
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left 
{
    float: left;
    margin-right: 25px;
}

.float-right 
{
    float: right;
    margin-left: 25px;
}

.content 
{
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits 
{
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit 
{
    /* made one "benefit" class to eliminate redundancy, and this route
    was hinted to me by a peer in our Bootcamp Slack Channel. I also applied this 
    reasoning below*/
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit img 
{
    /* removed specific img tags to each benefit class */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

h2 
{
    /* simplified class selectors in h2 to just 1 styling */
    margin-bottom: 20px;
    font-size: 36px;
}

h3
{
    /* added the h3 global instead of specifying each class to h3 */
    margin-bottom: 10px;
    text-align: center;
}

.content article
{
    /*simplified styling for content class to consolidate redudundant CSS */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
 
.content img    
{
    /*consolidated img styling for the content */
    max-height: 200px;
}

.footer 
{
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*changed h2 to h4 to match change in html*/
.footer h4 
{
    font-size: 20px;
}
